! special
*.foreground:   #b5c1b5
*.background:   #0c0c0c
*.cursorColor:  #b5c1b5

! black
*.color0:       #1b1c1b
*.color8:       #88e089

! red
*.color1:       #8bd28b
*.color9:       #69dbd6

! green
*.color2:       #343634
*.color10:      #5dd05f

! yellow
*.color3:       #616161
*.color11:      #6ed76f

! blue
*.color4:       #666b66
*.color12:      #bdffd5

! magenta
*.color5:       #888e88
*.color13:      #81b6be

! cyan
*.color6:       #b0b6b0
*.color14:      #80ebff

! white
*.color7:       #81ff81
*.color15:      #cdcdcd

URxvt*transparent: true
URxvt*shading: 25


URxvt.cursorBlink  :0
URxvt.font         :xft:dina:size=8
URxvt.boldFont     :xft:dina:size=8

URxvt.lineSpace           : 0
URxvt.letterSpace         : 0
URxvt.scrollBar           : false
URxvt.internalBorder      : 12
URxvt.cursorUnderline     : false
URxvt.geometry            : 90x35
URxvt.thickness           : 5
URxvt.titleBar            : false
URxvt.intensityStyles     : false
